* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 700;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: rgba(11, 11, 21, 0.6);
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: rgba(30, 30, 46, 0.6);
  color: #CDD6F4;
}

#workspaces button:hover {
  color: #1E1E2E;
  background-color: #CDD6F4;
}

#workspaces button.active {
  background-color: #1E1E2E;
  color: #89B4FA;
}

#workspaces button.urgent {
  background-color: #1E1E2E;
  color: #FF8BA8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-notification,
#cpu,
#battery,
#tray,
#memory,
#window {
  padding: 0.3rem 0.7rem;
  margin: 0.4rem 0.25rem;
  border-radius: 7px;
  /* background-color: #1e1e2e; */
  background-color: rgba(30, 30, 46, 0.45);
}

#custom-sep {
  padding: 0px;
  color: #585B70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#battery {
  color: #94E2D5;
}

#cpu {
  /* color: #94E2D5; */
  color: #FFFFFF;
}

#memory {
  /* color: #B6F5C6; */
  color: #FFFFFF;
}

#clock {
  color: #74C7EC;
}

#clock.simpleclock {
  color: #89B4FA;
}

#window {
  color: #CDD6F4;
}

#pulseaudio {
  color: #B4BEFE;
}

#pulseaudio.muted {
  color: #A6ADC8;
}

#custom-logo {
  color: #89B4FA;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89B4FA;
}
